.area {
  position: relative;
  margin-top: 2.5vh;
  width: 100vw;
}
.area-title {
  font-size: 2vh;
  height: 3vh;
}
.area-title, .input {
  margin-left: 4.5vw;
}
.input {
  height: 4vh;
  width: 90.5vw;
  border: 0.5vw solid #f2d5dc;
  border-radius: 8px;
  background: #f2d5dc;
}

/* ヘッダー */
#header {
  background: #A92231;
}

#cancel, #complate {
  position: absolute;
  max-height: 4vh;
}

#cancel {
  left: 25px;
}

#complate {
  right: 25px;
}

/* タイトルエリア */
#title-area {
  display: flex;
  align-items: center;
  height: 6vh;
  margin-top: 4vh;
}
#icon {
  height: 7vh;
  width: 7vh;
}
#title {
  width: 70.5vw;
}

/* 推しエリア */

/* 日時エリア */
#schedule-type-area {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
  border-top: none;
  border-bottom: none;
  height: auto;
}
#schedule-type-area input{
  display: none;
}
#schedule-type-area input:checked + label {
  background: #e2b5c2;
}

#schedule-type-area label{
  display: inline-grid;
  text-align: center;
  align-items: center;
  padding-left: 1vw;
  padding-right: 1vw;
  margin-left: 0px;
  width: 14vw;
  height: 3vh;
  font-size: 1.5vh;
}
#schedule-type-area label.len2{
  width: 12vw;
}
#schedule-type-area label.len5{
  width: 15.5vw;
}

.datetime {
  display: flex;
}
.date {
  width: 55vw;
}
#between {
  margin-left: 32vw;
  font-size: 1.5vh;
}
.time {
  width: 30vw;
}

/* ＵＲＬエリア */

/* 場所エリア */

/* 内容エリア */
#content {
  height: 20vh;
}

/* フッター */
#accent {
  height: 2vh;
  background: #A92231;
}

