* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
}

.app {
  width: 100%;
  height: 100%;
  background: #FFFBFF;
  overflow: hidden;
  position: relative;
  color: #5C1F2C;
}

/* ヘッダー */
#calendar-operation {
  display: flex;
  align-items: center;
  height: 7vh;
  background: #A93951;
  color: #000;
}

#current-month {
  display: flex;
  align-items: center;
  padding: 8px;
  color: #000;
}

#month-label {
  width: 150px;
  text-align: center;
  font-weight: bold;
  position: unset;
  color: #551119;
  font-size: 3vh;
}

#header-icons {
  display: flex;
  position: absolute;
  gap: 25px;
  right: 20px;
}

/* 曜日 */
#weekdays {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  background: #D17589;
  text-align: center;
  height: 2.5vh;
  font-size: 2vh;
  color: #551119;
  position: relative;
}

.weekday {
  border-left: 1px solid #8f666e;
}

/* カレンダー */
#calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  height: 50vh;
}

.day {
  border-left: 1px solid #bda4a9;
  border-bottom: 1px solid #bda4a9;
  padding: 2px;
  font-size: 10px;
}

.day.other {
  color: #aaa;
}

.day.today {
  background: #eee5ed;
}

.day.sunday {
  color: #df0019;
}

.day.other.sunday {
  color: #b97981;
}

.day.saturday {
  color: #2e00ff;
}

.day.other.saturday {
  color: #9b95b4;
}

/* 日付ヘッダー */
#day-header {
  background: #D17589;
  padding-left: 1vw;
  height: 2.5vh;
  font-size: 2vh;
  color: #551119;
}

/* メモ */
#memo-area {
  height: 38vh;
}

/* フッター */
footer {
  display: block;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

#menu-bar {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 7vh;
  background: #A92231;
}

#bottom { 
  position: relative;
  height: 2.5vh;
  background-color: black;
}

/* 黒丸アイコン */
.icon {
  width: 20px;
  height: 20px;
  background: #000;
  border-radius: 50%;
}
